.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.movie-grid {
  width: auto;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 2rem;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #243468;
}

.movie-card {
  position: relative; /* 상대적 위치 지정 */
  width: 270px;
  height: 560px;
  margin-bottom: 20px;
  background-color: #2e4283;
}

.movie-card:hover {
  color: gray;
}

.movie-card:hover .movie-overview-box {
  opacity: 1; /* 마우스 오버시 보이게 */
}

.movie-list {
  width: 100%;
  height: 100%;
}

.movie-list.hovered,
.movie-list:hover {
  opacity: 0.5; /* 투명도 조절 */
}

.movie-card img {
  width: 100%;
  height: 85%;
}

.movie-bottom {
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: auto;
  color: white;
}

.movie-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: 100%;
  padding: 5px 10px;
}

.movie-title {
  font-size: small;
  padding: 5px;
}

.movie-info .movie-average {
  font-size: small;
}

.movie-overview-box {
  position: absolute; /* 절대적 위치 지정 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); 
  color: white; 
  opacity: 0; 
  transition: opacity 0.3s ease; 
}

.movie-overview {
  font-size: 0.8rem; 
  line-height: 1.2; 
  padding: 10px; 
  word-break: break-all;
  overflow-wrap: break-word; 
}

.description-title {
  padding: 10px;
}
